@media only screen and (min-width: 1024px) {

:root {
    --ultra-dark-color:#34515E;
    --neutral-color: #88A0A8;
    --text-background-color: #F3E9DC;
    --highlight-color: #b1cbbb; 
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

header {
    display: flex;
    /*changes start here*/
    flex-direction: row-reverse;
    justify-content: flex-start;
    /*changes end here*/
    background-color: var(--ultra-dark-color);
    margin: 0;
}


nav {
    /*has changes for tablet*/
    display: flex;
    /*changes start here*/
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /*changes end here*/
    color: white;
    background-color: var(--ultra-dark-color);
}

.hamburger-icon {
    justify-self: center;
    padding: 10px;
}

.hamburger-content {
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 30px;
    margin: 5px 0px 5px 5px;
}

.navto {
    display: block;
    padding: 5px;
    margin: 5px 10px 5px 5px;
    align-content: center;
    font-size: 2vw;
    font-family: sans-serif;
}

.navto > a {
    color: white;
}

#hi {
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

#about {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    padding: 2vw;
}

#greeting {
    background-color: var(--text-background-color);
}

#greeting > h2, p {
    text-align: center;
}

p {
    font-size: 3vh;
}

h3 {
    font-size: 3vh;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: var(--highlight-color);
    margin: 0;
}

.title {
    font-family: "Source Serif Pro", Georgia, serif;
    font-size: 3vw;
}

#skills-container {
    /*MOBILE changes START here*/
    /* display: block;
    align-content: center;
    text-align: center;
    margin: 8vw; */
    /*MOBILE changes END here*/


    /* DESKTOP changes start here*/
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80vw;
    border-radius: 20px;
    border: 1px solid var(--hightlight-color);
    box-shadow: 5px gray;
    overflow: hidden;
    /*DESKTOP changes END here*/
}

.skills-div {
    text-align: center; 
    border: 1px solid var(--neutral-color);
    background-color: var(--text-background-color);
    padding: 20px 0 20px 0;
}

.skills-div p{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

#carousel-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.carousel-buttons {
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: var(--highlight-color);
    color:black;
    border-radius: 50%;
    font-size: 5vw;
    height: 5vw;
    width: 5vw;
    display: inline-block;
}


#projects-container {
    text-align: center;
    align-items: center;
}

.project-element {
    display: none;
    background-color: var(--text-background-color);
    margin: 10px;
    padding: 10px;
}

.project-element:first-of-type {
    display: block;
}


.project-element img {
    width: 60vw;
    margin: auto;
    display: block;
    padding: 10px;
}

.project-card {
    margin-bottom: 20px;
}

.project-card > h4 {
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

.project-card > p {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    margin: 0px 0 20px 0;
    font-size: 3vw;
}

.project-card > a {
    background-color: var(--ultra-dark-color);
    color: white;
    font-family: "Source Sans Pro",Arial, Helvetica, sans-serif;
    font-size: 2vw;
    border-radius: 23px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;    
}


#contact-container {
    display: grid;
    justify-content: center;
    grid-template-areas:
    'details message'
    'submit submit';
    margin: 0 0 30px 0;
}

.contact-details {
    display: flex;
    flex-direction: column;
    grid-area: details;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 16pt;
    height: 35vh;
    justify-content: space-between;
}

.contact-details > input {
    display: block;
    width: 45vw;
}

input, textarea, button {
    font-size: 16pt;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.message {
    grid-area: message;
}

.message > textarea {
    width: 45vw;
    height: 35vh;
}

.submit {
    grid-area: submit;
    /* width: 20vh; */
    border-radius: 25px;
    justify-self: center;
    padding: 10px;
    margin: 50px 0 20px 0;
}

footer {
    background-color: var(--ultra-dark-color);
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

}