/* COLOR PALETTES
https://www.canva.com/colors/color-palettes/classic-gentleman/
https://www.canva.com/colors/color-palettes/rocks-and-barefoot/
https://www.canva.com/colors/color-palettes/photographer-by-day/
https://www.canva.com/colors/color-palettes/here-at-home/
https://www.canva.com/colors/color-palettes/foil-covered-sneakers/ 
https://www.canva.com/colors/color-palettes/window-tide/
https://www.canva.com/colors/color-palettes/mermaid-lagoon/ 
https://www.canva.com/colors/color-palettes/muted-overview/ 

dustyrose: (160, 94, 94)
purple haze: #777180
pewter blue: (136, 160, 168) / 136, 160, 168 88AOA8
USAFA blue #26547C (38, 84, 124)
crayola orange yellow (255, 209, 102) / FFD166
ivory #D4C2B0
blue #325980
navy blue #202E50*/

:root {
    --dusty-rose-: rgb(160, 94, 94);
    --purple-haze-: #777180;
}

* {
    border: dashed yellowgreen;
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* scroll-snap-type: x mandatory; */
}

header {
    display: flex;
    /*DESKTOP & TABLET LANDSCAPE*/
    /*flex-direction: row;*/
    /*justify-content: flex-end; */
    /*MOBILE VIEW*/
    flex-direction: column;
    align-content: stretch;
    align-items: flex-end;
    /* justify-items: flex-end; */
    background-color: #777180;
    margin: 0; 
}

nav {
    /* TABLET AND DESKTOP VIEW */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; */
    /* height: 50px;
    width: 100vw; */
    /* MOBILE VIEW */
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    color: white;
    background-color: #777180;
}

.hamburger-icon {
    justify-self: center;
    padding: 10px;
}

.hamburger-content {
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 30px;
    margin: 5px 0px 5px 5px;
}

.navto {
    display: block;
    /* padding: 5px; */
    margin: 5px 0px 5px 5px;
    align-content: center;
    font-size: 5vw;
    font-family: sans-serif;
}

.navto > a {
    color: white;
    display: block;
    margin: 0 10px 0 0;
}

#greeting > h2, p {
    text-align: center;
    margin: 8vw;
}

p {
    font-size: 4vh;
}

h3 {
    font-size: 5vh;
}

#skills-container {
    display: block;
    align-content: center;
    text-align: center;
    margin: 8vw;

    /* DESKTOP
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80vw;*/
}

.skills-div {
    text-align: center;
    border: 1px blue;
}

#carousel-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.carousel-buttons {
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: rgba(160, 94, 94, 0.8);
    color:black;
    border-radius: 50%;
    font-size: 5vw;
    height: 5vw;
    width: 5vw;
    display: inline-block;
}

#projects-container {
    text-align: center;
    align-items: center;
}

.project-element img {
    width: 60vw;
    margin: auto;
    display: block;
}

.project-element {
    display: none;
}

.project-element:first-of-type {
    display: block;
}

#contact-container {
    display:grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas:
    'details'
    'message';
}

.contact-details {
    grid-area: details;
}

.contact-details > input {
    display: block;
    width: 60vw;
    height: 4vh;
}

input, textarea, button {
    font-size: 3vh;
    font-family: sans-serif;
}

.message {
    grid-area: message;
}

.message > textarea {
    width: 80vw;
    height: 20vh;
}

.contact-container > input {
    width: 5em;
}

button {
    width: 15vh;
}