/* COLOR PALETTES
https://www.canva.com/colors/color-palettes/classic-gentleman/
https://www.canva.com/colors/color-palettes/rocks-and-barefoot/
https://www.canva.com/colors/color-palettes/photographer-by-day/
https://www.canva.com/colors/color-palettes/here-at-home/
https://www.canva.com/colors/color-palettes/foil-covered-sneakers/ 
https://www.canva.com/colors/color-palettes/window-tide/
https://www.canva.com/colors/color-palettes/mermaid-lagoon/ 
https://www.canva.com/colors/color-palettes/muted-overview/ 

dustyrose: (160, 94, 94)
purple haze: #777180*/

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    height: 50px;
    background-color: #777180;
    margin: 0 auto; 
}

.navto {
    padding: 5px;
    margin: 5px;
}

#greeting > h2, p {
    text-align: center;
}

#skills-container {
    display: inline-block;
    justify-items: stretch;
    /* DESKTOP
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80vw;*/
}

.skills-div {
    text-align: center;
}

.projects-container {
    text-align: center;
    justify-content: stretch;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
}