/* COLOR PALETTES
https://www.canva.com/colors/color-palettes/classic-gentleman/
https://www.canva.com/colors/color-palettes/rocks-and-barefoot/
https://www.canva.com/colors/color-palettes/photographer-by-day/
https://www.canva.com/colors/color-palettes/here-at-home/
https://www.canva.com/colors/color-palettes/foil-covered-sneakers/ 
https://www.canva.com/colors/color-palettes/window-tide/
https://www.canva.com/colors/color-palettes/mermaid-lagoon/ 
https://www.canva.com/colors/color-palettes/muted-overview/ 

dustyrose: (160, 94, 94)
purple haze: #777180*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: static;
    align-content: stretch;
}

nav {
    /* TABLET AND DESKTOP VIEW
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 50px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #777180;
    margin: 0; 
    color: white;
}

.hamburger-icon {
    padding: 5px 10px 5px 0;
}

.hamburger-content {
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 30px;
    margin: 5px 0px 5px 5px;
}

.navto {
    display: block;
    padding: 5px;
    margin: 5px 10px 5px 5px;
    align-content: center;
}

.navto > a {
    color: white;
}

#greeting > h2, p {
    text-align: center;
}

#skills-container {
    display: block;
    align-content: center;
    text-align: center;

    /* DESKTOP
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80vw;*/
}

.skills-div {
    text-align: center;
}

#projects-container {
    text-align: center;
    justify-content: stretch;
}

#contact-container {
    display:grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas:
    'details'
    'message';
}

.contact-details {
    grid-area: details;
}

.contact-details > input {
    display: block;
    width: 80vw;
}

.message {
    grid-area: message;
}

.message > textarea {
    width: 80vw;
    height: 20vh;
}

.contact-container > input {
    width: 5em;
}